.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2B2C28;
  padding: 1rem 2rem;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-image {
  height: 32px;
  margin-right: 0.5rem;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7DE2D1;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  color: #FFFAFB;
  text-decoration: none;
}